<%  include ../partials/header %>


<!--Show all the campgrounds-->
<div class="container text-center">

   <div class="jumbotron  ">
      <h1 class="display-3"><strong></i>I-Camp</strong></h1>
      <p id="titleText" class="lead">This site includes trips and camps from all over the world. You can get information
         about organized tours on every corner of the globe. </p>
      <p><i class="fas fa-campground d-flex justify-content-center  pt-4;" style="font-size:2.5em;"></i></p>
   </div>


   <div class="row">
      <% campgrounds.forEach(function(campground){ %>
      <div class="col-lg-4 col-md-6 col-sm-12  mb-4">
         <div class="card">

            <img id="imgCard" class="card-img-top" src="<%=campground.img %>">
            <div class="card-body">
               <h4 class="card-title"><%= campground.name %></h4>
               <% if(campground.description && campground.description.length > 0) { %>
               <p class="card-text"><%= campground.description.substring(0, 70) %></p>
               <% } %>
               <a href="/campgrounds/<%=campground._id%>" class="btn " style="background:#012660; color:white">More
                  Info</a>
            </div>
            <div class="card-footer">
               <small class="text-muted">Last updated <%= moment(campground.createdAt).calendar() %> </small>
            </div>
         </div>
      </div>
      <% }) %>
   </div>

   <%  include ../partials/footer %>