<%  include ../partials/header %>


<!-- Show spesific campground-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card mb-3">
        <img class="card-img-top " src="<%= campground.img %>">
        <div class="card-body">
          <p class="float-right"> <%=campground.price%>/night</p>
          <h2 class="card-title"><%= campground.name %></h2>
          <p><em>Created by <%= campground.author.username%> , <%= moment(campground.createdAt).fromNow()%> </em> </p>
          <p id="description" class="card-text"><%= campground.description %></p>


          <% if(currentUser && campground.author.id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){ %>
          <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
          <form class="deleteForm" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
          <% } %>
        </div>





        <!--COMMENT SECTION START-->
        <div class="well">
          <!--Setting up the add new comment button that is used for collapsing-->
          <div class="text-right pr-2">
            <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment"
              aria-expanded="false" aria-controls="collapseComment">
              <i class="fas fa-plus"></i> Add new comment</a>
          </div>



          <!--Comment section title-->
          <h5 class="pl-2"><strong> Comments <i class="fas fa-comments"></i></strong></h5>

          <!--Collapse Add a comment form START-->
          <div class="collapse" id="collapseComment">
            <div class="well" style="border-left: 5px solid #00C851; padding-left:10px">
              <% if(!currentUser) { %>
              <!--If the user is not logged in, direct him to the login page-->
              <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.
              </h5>
              <% } %>
              <% if(currentUser) { %>
              <!--If the user is logged in, show the new comment form-->
              <h4>Write your comment <i class="far fa-edit"></i></h4>
              <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="comment[text]" placeholder="Write your comment..."
                    form="add-comment-form" rows="5" cols="70" required></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment"
                      aria-hidden="true"></span></button>
                </div>
              </form>
              <% } %>
            </div>
          </div>
          <!--Collapse Add a comment form END-->

          <hr>

          <!--Check if there are comments, if there are none say no comments.-->
          <% if (campground.comments.length === 0) { %>
          <em style="color: grey;">No comments yet.</em>
          <% } %>


          <!-- Comments show-->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <% campground.comments.forEach(function(comment){ %>
                <div class="col-md-12 mb-2">
                  <div class="card">
                    <div class="card-body">
                      <div class="float-left">
                        <strong>
                          <p class="card-title"><i class="far fa-user"></i> <%= comment.author.username %></p>
                        </strong>
                        <p class="card-text"><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals (currentUser._id)|| currentUser && currentUser.isAdmin){ %>
                        <!--Edit button used for collapsing the edit comment form-->
                        <a class="btn btn-outline-warning btn-sm" role="button" data-toggle="collapse"
                          href="#collapseEdit<%= comment._id %>" aria-expanded="false"
                          aria-controls="collapse<%= comment._id %>">
                          Edit</a>
                        <form class="deleteForm"
                          action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE"
                          method="POST">
                          <button class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>

                        <!--Edit comment form-->
                        <div class="collapse" id="collapseEdit<%= comment._id %>">
                          <div class="well"
                            style="border-left: 5px solid #ffbb33; margin-top: 15px; padding-left:10px;">
                            <h4>Edit your comment <i class="far fa-edit"></i></h4>
                            <form id="edit-comment-form<%= comment._id %>"
                              action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT"
                              method="POST">
                              <div class="form-group">
                                <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                              </div>
                              <div class="form-group">
                                <textarea class="form-control" name="comment[text]" placeholder="Your comment text..."
                                  form="edit-comment-form<%= comment._id %>" rows="5"
                                  cols="70"><%= comment.text %></textarea>
                              </div>
                              <div class="form-group">
                                <button class="btn btn-warning btn-sm">Edit comment</button>
                              </div>
                            </form>
                          </div>
                        </div>
                        <% } %>
                      </div>
                      <p class="float-right"> <%= moment(comment.createdAt).fromNow() %></p>
                    </div>
                  </div>
                </div>

                <% }) %>
              </div>



              <br>



              <%  include ../partials/footer %>